/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Courier New', Courier, monospace;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//リセットcss

.pc{
    display:none;
}

header{
    width:100%;
    background:#fff;

}

#header {
    background: #fff;
    box-shadow: 0 4px 8px -3px rgba(17, 17, 17, .06);
    height: 56px;
    position: fixed;
    top: 0;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
    width: 100%;
    z-index: 199999;
  }
  
  .head-animation {
    transform: translateY(-100%);
  }

.container{
    width:340px;
    margin:0 auto;
}

.header-mobile{
    display: flex;
    justify-content: space-between;
    align-items:center;
    &__left{
        transform:scale(1.3);
        margin-top:6px;
    }
    &__right{
        z-index:10;
    }
    

}

.menu-trigger{
    cursor: pointer;
    display: inline-block;
    width:35px;
    height:20px;
    margin-top:14px;
    padding-bottom:8px;
    transform:scale(0.7);
    
    & .menu-line{
        display: inline-block;
        height:2px;
        width:100%;
        background-color: #000;
        margin-bottom:8px;
    }
}

.active{
    & .menu-line{
        transition:transform 0.7s;
        &:nth-child(1){
            transform:translateY(16px) rotate(135deg);
        }
        &:nth-child(2){
            transform:translateX(-18px);
            transform:scaleX(0);
        }
        &:nth-child(3){
            transform:translateY(-16px) rotate(-135deg);

        }
    }
    
}

.none{
    display: none;
}

.menu-list{
    background:rgba($color: #fff, $alpha: 0.8);
    position:fixed;
    top:0px;
    right:0px;
    left:260px;
    bottom:-280px;
    z-index:5;
    
    
    & ul{
        position: absolute;
        width:180px;
        top:85px;
        right:140px;
        left:30px;
        z-index:10;
        font-size:16px;
        
    }
    
    & li{
        margin-bottom:36px;
        cursor: pointer;
        &:last-child{
            margin-bottom:10px;
            
        }
    }
    & .search{
        display:flex;
        border-bottom: 1px solid #929292;
        & .fa-search{
            height:20px;
        }
        & input{
            border:none;
            background-color: transparent;
            transform:translate(4px, -2px);
        }
    }
}

.hero{
    padding-top:57px;
}

.swiper{
    &-container {
        margin:0 auto;
        width: 100%;
        height: 211px;
    }
    &-slide{
        position:relative;
        color:#fff;
        
        & .cover{
            width:100%;
            height:100%;
            object-fit: cover;
            position:absolute;
            
        }
        & h2{
            position:absolute;
            bottom:42px;
            left:36px;
            font-size:15px;
            opacity:0;
            transition: opacity 0.8s ease 1.5s;

        }
        & p{
            position:absolute;
            bottom:26px;
            left:77px;
            font-size:8px;
            opacity:0;
            transition: opacity 0.8s ease 1.5s;
        }
        &-active{
            & h2{
                opacity: 1;
            }
            & p{
                opacity:1;
            }
        }
    }
}
.now-ivent{
    background-image: url(images/bg-img01.jpg);
    background-attachment: fixed;
    width:100%;
}

.title{
    padding-top:24px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    & h3{
        font-size:16px;
        color:3E3E3E;
        font-weight:900;

    }
    & p{
        font-size:12px;
        color: #929292;
        cursor: pointer;
        display:inline-block;
        position: relative;
        text-decoration: none;
        &:before{
            content: '';
            position: absolute;
            left:0;
            bottom:-5px;
            width:100%;
            height:1px;
            background-color: #929292;
            transform: scale(0, 1);
            transform-origin:left;
            transition:0.3s;
            
        }
        &:hover:before{
            transform: scale(1, 1);

        }

    }
}
.ivent{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__card{
        margin-top:24px;
        width:340px;
        & img{
            width:340px;
            height:212px;
            cursor: pointer;

        }
        & .name{
            font-size:13px;
            color:#3E3E3E;
            margin:8px 0;
            font-weight:600;
            cursor: pointer;

        }
        & .span{
            font-size:12px;
            color:#929292;
    
        }
        &:last-child{
            padding-bottom:32px;
        }
    }
}

.will-ivent{
    background-image: url(images/bg-img02.jpg);
    background-attachment: fixed;
    width:100%;
}

.image{
    position: relative;
    cursor: pointer;

}

.dark{
    position: absolute;
    height:212px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:2;
    background-color: rgba($color: #000000, $alpha: 0.4);
    visibility: visible;
}

.news{
    background:#3A3A3A;
    color:#fff;
    width:100%;
    height: 229px;

    & p{
        color:#fff;
        &:before{
            background-color: #fff;

        }
    }

    &__card{
        margin:26px 0 0 31px;
        font-size:11px;

        & .new{
            margin-bottom:18px;
            & .date{
                color:#929292;
                font-size:11px;
                margin-bottom:8px;
            }
            & .scr{
                cursor: pointer;
                &:hover{
                    opacity:0.8;
                }
            }
        }
    }
}

footer{
    width:100%;
    height:90px;
}

.footer{
    &-top{
        display:flex;
        justify-content: flex-end;
        margin:12px 16px 0 0;
        & p{
            font-size:12px;
            color:#929292;
            margin-right:9px;
        } 
    }
    &-middle{
        font-size:8px;
        color:#3E3E3E;
        margin-top:17px;

    }
    &-bottom{
        margin-top:16px;
        display: flex;
        justify-content: center;
        & i{
            transform:scale(1.3);
            margin: 0 2%;
            // &::before{
            
            // }
        }
    }
}

.calendar{
    position:fixed;
    z-index:10;
    bottom:54px;
    right:35px;
    width:90px;
    height:90px;
    border-radius: 50%;
    background-color:#fff;
    box-shadow: 1px 1px 20px rgba($color: #000000, $alpha: 0.5);
    transition:box-shadow 0.5s ease;
    cursor: pointer;
    &:hover{
        box-shadow: 1px 1px 20px rgba($color: #000000, $alpha: 0.2);
    }
    & .position{
        position: relative;
        font-size:22px;
        & .month{
            position:absolute;
            font-size:24px;
            top:11px;
            left:22.5px;
        }
        & .slash{
            position:absolute;
            width:60px;
            height:1px;
            top:30px;
            left:11.5px;
            background-color: #000;
            display: inline-block;
            transform-origin: 50%;
            transform: rotate(135deg);
        }
        & .day{
            position:absolute;
            top:31.5px;
            left:42.5px;
        }
        & .open{
            position:absolute;
            left:33%;
            bottom:-78px;
            font-size:16px;

        }
    }
}

.footer-top{
    cursor: pointer;
}


@media screen and (min-width:800px){
    .container{
        width:720px;
    }
    .news__card{
        & .new{
            display:flex;
            align-items:flex-start;

            & .date{
                font-size:16px;
                margin-right:35px;
            }
            & .scr{
                font-size:17px;
            }
        }
    }
}

@media screen and (min-width: 1024px){

    .mobile{
        display:none;
    }
    .pc{
        display: block;
    }
    .container{
        width:800px;
        margin:0 auto;
    }
    #header{
        height:128px;

    }

    .header{
        &-mobile{
            &__left{
                & img{
                    margin-top:12px;
                    width:167px;
                    height:48px;

                }
            }
            &__right{
                display:none;
            }
        }
        &-pc__right{
            & .menu-pc{
                &__top{
                    margin-top:34px;
                    border-bottom: 1px solid #929292;
                    justify-content: flex-end;
                    width:164px;
                    margin-left:auto;

                    & i{
                        transform:scale(1.5);
                    }
                    & input{
                        border:none;
                        background-color: transparent;
                        transform:translate(4px, -2px);

                    }
                }
                &__bottom{
                    margin:21px 1px 0 0;
                    display:flex;
                    justify-content: flex-end;
                    & li{
                        margin-left:23px;
                        cursor: pointer;

                    }
                }
            }
        }
        
    }
    .swiper{
        &-container {
            margin:0 auto;
            width: 100%;
            height: 540px;
        }
        &-slide{
            position:relative;
            color:#fff;
            & h2{
                position:absolute;
                bottom:107px;
                left:112px;
                font-size:38px;
    
            }
            & p{
                position:absolute;
                bottom:67px;
                left:216px;
                font-size:21px;
            }
        }
    }
    .calendar{
        transform:scale(1.5);
        margin: 0 24px 32px 0;
    }

    .ivent__card{
        & .name{
            font-size:16px;
        }
        & .span{
            font-size:14px;
        }
    }

    footer{
        height:178px;
        & .footer-top{
            margin-top:31px;
            align-items:center;
            & p{
                font-size:21px;
            }
            & img{
                width:25px;
                height:12px;
            }
        }
        & .footer-middle{
            margin-top:12px;
            font-size:16px;
        }

        & .menu-pc__bottom{
            margin:28px 1px 28px 0;
            display:flex;
            justify-content: flex-end;
            & li{
                margin-left:23px;
                cursor: pointer;
            }
        }
        & .footer-bottom{
            margin-bottom:12px;
        }
    }
}
